<nav>
    <a routerLink="/calendar"></a>
  </nav>

  <div class="calendar-container">
    <div class="navigation">
      <button (click)="navigateWeek(-1)">Poprzedni tydzień</button>
      <button (click)="navigateWeek(1)">Następny tydzień</button>
    </div>

    <div class="calendar-grid">
        <div class="time-column">
            <div *ngFor="let hour of ['8:00', '8:30', '9:00', '9:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30']">
              {{ hour }}
            </div>
          </div>

      <div class="day-column" *ngFor="let day of currentWeek">
        <div
          class="day-header"
            [class.absence-day]="isAbsenceDay(day)"
            [class.today]="day.toDateString() === today.toDateString()"
            [class.past-day]="isPastDay(day)"
          >
          <div>{{ day | date: 'EEE, MMM d' }}</div>
          <div>
            <ng-container *ngIf="isAbsenceDay(day); else reservedCount">
              Nieobecność lekarza
            </ng-container>
            <ng-template #reservedCount>
              Zarezerwowane: {{ getReservedSlotsCount(day) }}
            </ng-template>
          </div>
        </div>
  
        <div
          class="time-slot"
          *ngFor="let slot of slotsPerDay[getDayKey(day)]; let i = index"
          [style.background-color]="getSlotColor(slot.type)"
          [class.current-time]="
            currentTimeMarker?.dayKey === getDayKey(day) &&
            currentTimeMarker?.slotIndex === i
          "
          [class.reserved]="slot.reserved"
          [class.empty]="slot.type === 'Empty'"
          [class.past]="slot.past"
          [class.absence-day]="isAbsenceDay(day)"
          (click)="slot.type !== 'Empty' && !slot.past && !slot.reserved ? openConsultationForm(day, slot) : null"
          (mouseover)="slot.type !== 'Empty' ? showDetails(slot) : null"
          (mouseout)="hideDetails()"
        >
        <span *ngIf="slot.type === 'Empty'"></span>
        <span *ngIf="slot.type === 'Termin niedostępny'">Termin niedostępny</span>
        <span *ngIf="!slot.reserved && slot.type !== 'Empty'">Zarezerwuj wizytę</span>
        <span *ngIf="slot.details === 'Konsultacja odwołana'">Konsultacja odwołana</span>
        <span *ngIf="slot.reserved">Termin zarezerwowany</span>        
      </div>
      <!-- Modal okienko anulowania wizyty -->
<div class="modal" *ngIf="showCancelDialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Anulowanie wizyty</h3>
      <button class="close-button" (click)="closeCancelDialog()">×</button>
    </div>
    <div class="modal-body">
      <p><strong>Pacjent:</strong> {{ selectedSlot?.patientName }}</p>
      <p><strong>Rodzaj wizyty:</strong> {{ selectedSlot?.type }}</p>
      <p><strong>Data:</strong> {{ selectedSlot?.date }}</p>
      <p><strong>Godzina:</strong> {{ selectedSlot?.time }}</p>
      <p>Czy na pewno chcesz anulować tę wizytę?</p>
    </div>
    <div class="modal-footer">
      <button class="cancel-button" (click)="closeCancelDialog()">Anuluj</button>
      <button class="confirm-button" (click)="confirmCancelAppointment()">Potwierdź</button>
    </div>
  </div>
</div>
      </div>
    </div>
  
    <div *ngIf="selectedDetails" class="details-popup">
      <p><strong>Szczegóły wizyty:</strong></p>
      <p>{{ selectedDetails }}</p>
    </div>

<!-- Modal okienko -->
<div class="modal" *ngIf="showConsultationForm">
  <div class="modal-content">
    <div class="modal-close">
      <button (click)="closeConsultationForm()">×</button>
    </div>
    <!-- Formularz rezerwacji -->
    <app-consultation-form
    *ngIf="selectedSlot"
    [slot]="selectedSlot"
    (close)="closeConsultationForm()"
    (save)="saveConsultation($event)"
  ></app-consultation-form>
  
  </div>
</div>
</div>

  