<nav>
    <a routerLink="/calendar"></a>
  </nav>

  <div class="calendar-container">
    <div class="navigation">
      <button (click)="navigateWeek(-1)">Poprzedni tydzień</button>
      <button (click)="navigateWeek(1)">Następny tydzień</button>
    </div>

    <div class="calendar-grid">
        <div class="time-column">
            <div *ngFor="let hour of ['8:00', '8:30', '9:00', '9:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '13:00', '13:30']">
              {{ hour }}
            </div>
          </div>

      <div class="day-column" *ngFor="let day of currentWeek">
        <div
          class="day-header"
            [class.absence-day]="isAbsenceDay(day)"
            [class.today]="day.toDateString() === today.toDateString()"
            [class.past-day]="isPastDay(day)"
          >
          <div>{{ day | date: 'EEE, MMM d' }}</div>
          <div>
            <ng-container *ngIf="isAbsenceDay(day); else reservedCount">
              Nieobecność lekarza
            </ng-container>
            <ng-template #reservedCount>
              Zarezerwowane: {{ getReservedSlotsCount(day) }}
            </ng-template>
          </div>
        </div>
  
        <div
          class="time-slot"
          *ngFor="let slot of slotsPerDay[getDayKey(day)]; let i = index"
          [style.background-color]="getSlotColor(slot.type)"
          [class.current-time]="
            currentTimeMarker?.dayKey === getDayKey(day) &&
            currentTimeMarker?.slotIndex === i
          "
          [class.reserved]="slot.reserved"
          [class.past]="slot.past || isPastDay(day)"
          [class.absence-day]="isAbsenceDay(day)"
          (click)="!slot.reserved && !isPastDay(day) && !isAbsenceDay(day) ? reserveSlot(day, slot) : null"
          (mouseover)="showDetails(slot)"
          (mouseout)="hideDetails()"
        >
        <span *ngIf="slot.type === 'Termin niedostępny'">Termin niedostępny</span>
        <span *ngIf="!slot.reserved">Zarezerwuj wizytę</span>
        <span *ngIf="slot.details === 'Konsultacja odwołana'">Konsultacja odwołana</span>
        <span *ngIf="slot.reserved">Termin zarezerwowany</span>        
      </div>
      </div>
    </div>
  
    <div class="details-popup" *ngIf="selectedDetails">
      {{ selectedDetails }}
    </div>
  </div>
  